.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

.portfolio span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.portfolio span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.3rem;
    font-weight: bold;
}

.portfolio span:nth-of-type(3) {
    color: var(--black);
    font-size: 1.1rem;
    font-weight: bold;
}

.portfolio span:nth-of-type(4) {
    color: var(--black);
    font-size: 1.7rem;
    font-weight: bold;
}


.portfolio .swiper {
    overflow: visible !important;
}

.portfolio-slider {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-slider .swiper-slider {
    width: 20rem;
}


a {
    color: var(--black);
}

.portfolio img {
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgb(0, 0, 0, 0.25));
    border-radius: 19px;
    height: 10rem;
}

.portfolio li {
    background-color: var(--orange);

}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -30px !important;
    gap: 2rem;
}

@media screen and (max-width:480px) {
    .portfolio-slider {
        width: 100%;
        overflow: scroll;
        height: 30rem;
    }

    .portfolio-slider {
        width: 640px;
        height: fit-content;
    }

    .portfolio span:nth-of-type(1) {
        margin-left: -20%;
    }

    .portfolio span:nth-of-type(2) {
        margin-left: -20%;
    }

    .portfolio span:nth-of-type(3) {
        margin-left: -20%;
        font-size: 0.8rem;
    }

    .portfolio span:nth-of-type(4) {
        font-size: 1rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: -25% !important;
    }
}